<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>News Express</title>
  <link rel="shortcut icon" href="icons8-news-16.png" type="image/x-icon">
  <!-- favicon -->
  <link rel="icon" type="image/png" href="/img/favicon.png" sizes="32x32" />
  <!-- Bootsratp CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

  <!-- Local CSS -->
  <link rel="stylesheet" href="../static/style.css " />
</head>
  <style>
    .carousel {
      width: 70%;
      margin: auto; 
    }
    #para1 {
      font-size:25px;
      color: black;
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
      background-color:#e1d7d75c;
    }
    #para2 {
      font-size:25px;
      color: black;
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
      background-color:#e1d7d75c;
    }
    #para3 {
      font-size:25px;
      color: black;
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
      background-color:#e1d7d75c;
    }
  </style>

<body>
  <!-- This is Bootsratp Nav bar -->
  <nav id="navbar">
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">News Express</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="index.html"  class="nav-link active" aria-current="page" onclick="getNews('all')">Home</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Category
              </a>
              <ul id="webList" class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li onclick="sendCategory(this.id)" id="0">
                  <a class="dropdown-item" href="#">National</a>
                </li>
                <li onclick="sendCategory(this.id)" id="1">
                  <a class="dropdown-item" href="#">Business</a>
                </li>
                <li onclick="sendCategory(this.id)" id="2">
                  <a class="dropdown-item" href="#">Sport</a>
                </li>
                <li onclick="sendCategory(this.id)" id="3">
                  <a class="dropdown-item" href="#">World</a>
                </li>
                <li onclick="sendCategory(this.id)" id="4">
                  <a class="dropdown-item" href="#">Politics</a>
                </li>
                <li onclick="sendCategory(this.id)" id="5">
                  <a class="dropdown-item" href="#">Technology</a>
                </li>
                <li onclick="sendCategory(this.id)" id="6">
                  <a class="dropdown-item" href="#">Startup</a>
                </li>
                <li onclick="sendCategory(this.id)" id="7">
                  <a class="dropdown-item" href="#">Entertainment</a>
                </li>
                <li onclick="sendCategory(this.id)" id="8">
                  <a class="dropdown-item" href="#">Miscellaneous</a>
                </li>
                <li onclick="sendCategory(this.id)" id="9">
                  <a class="dropdown-item" href="#">Hatke</a>
                </li>
                <li onclick="sendCategory(this.id)" id="10">
                  <a class="dropdown-item" href="#">Science</a>
                </li>
                <li onclick="sendCategory(this.id)" id="11">
                  <a class="dropdown-item" href="#">Automobile</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="./aboutus.html"  class="nav-link active" aria-current="page" onclick="getNews('all')" style="width: max-content;">About us</a>
            </li>
            <li class="nav-item">
              <a href="./contactus.html"  class="nav-link active" aria-current="page" onclick="getNews('all')" style="width: max-content;">Contact us</a>
            </li>
            <li class="nav-item">
              <a href="./singup.html"  class="nav-link active" aria-current="page" onclick="getNews('all')">Signup</a>
            </li>
        
            {% if 'email' in session %}
            <li class="nav-item" style="margin-left:300px;">
              <a class="nav-link" href="#">{{ session['email'].split('@')[0]  }}</a>
            </li>
            {% endif %}
          </ul>
          
          <form class="form-inline my-2 my-lg-0" style="margin-top:40px;margin-right: 20px;
">
             <input type="text"  width="200px" height="30px" id="search" placeholder="Search...." style="margin-top:10px;margin-left:10px;">
            <button id="searchButton" class="btn btn-outline-success my-2 my-sm-0" type="submit" style="padding:3.5px;margin-top:15px;">Search</button>
            {% if 'email' in session %}
              <a href="/logout" class="btn btn-outline-danger" style="margin-top: -59.9px;margin-left:265px;padding:3.5px;margin-right:-10px;">Logout</a>
            {% endif %}
          </form>
         

          
              
            <div class="form-check form-switch">
                <input type="checkbox" id="darkModeToggle" class="inputs">
                <label class="form-check-label" for="darkModeToggle">
                  <svg class="moon"  xmlns="http://www.w3.org/2000/svg"
                  width="16" height="16"
                    viewBox="0 0 512 512">
                    <path fill="#fff"
                      d="M268.279,496c-67.574,0-130.978-26.191-178.534-73.745S16,311.293,16,243.718A252.252,252.252,0,0,1,154.183,18.676a24.44,24.44,0,0,1,34.46,28.958,220.12,220.12,0,0,0,54.8,220.923A218.746,218.746,0,0,0,399.085,333.2h0a220.2,220.2,0,0,0,65.277-9.846,24.439,24.439,0,0,1,28.959,34.461A252.256,252.256,0,0,1,268.279,496ZM153.31,55.781A219.3,219.3,0,0,0,48,243.718C48,365.181,146.816,464,268.279,464a219.3,219.3,0,0,0,187.938-105.31,252.912,252.912,0,0,1-57.13,6.513h0a250.539,250.539,0,0,1-178.268-74.016,252.147,252.147,0,0,1-67.509-235.4Z"
                      class="ci-primary"></path>
                  </svg>
                  <svg class="sun"  xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-sun" viewBox="0 0 16 16">
                    <path
                      d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
                      fill="#fff9e5"></path>
                  </svg>
                </label>
        </div>
      </div>
    </nav>
  </nav><br>

  <!-- slider -->
  <div id="carouselExampleIndicators" class="carousel slide "  data-bs-ride="carousel">
    <div class="carousel-indicators " >
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img height="400px"  src="" class="d-block w-100"  alt="..." id="image1">
        <div class="carousel-caption d-none d-md-block"
          <p id="para1"></p>
        </div>
      </div>
      <div class="carousel-item">
        <img height="400px" src="" class="d-block w-100" alt="..." id="image2">
        <div class="carousel-caption d-none d-md-block"
          <p id="para2"></p>
        </div>
      </div>    
      <div class="carousel-item">
        <img height="400px" src="" class="d-block w-100" alt="..." id="image3">
        <div class="carousel-caption d-none d-md-block"
          <p id="para3"></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- This is basic header of website -->
  <div class="head container">
    <h3>
      Top News <span class="badge text-bg-secondary">by News Express</span>
    </h3>
    <span class="line"></span>
  </div>
  

  
  <!-- This is div where all the News are Fetched from API -->
  <div id="newsBox"></div>
  <div id="spinner" class="mySpin spinner-border text-warning"></div>


  <!-- This is Basic Dark Fotter -->
  <footer> 
    <div class="container">
        <div class="footer">
            <article>
                <div class="logo">
                    <i class="fas fa-globe fa-2x"></i>
                    <h2>News<span> Express</span></h2>
                </div>
                <p>
                  News Express is a media platform providing concise and timely news coverage across various topics. It delivers information in a straightforward manner, catering to a diverse audience seeking quick updates.
                </p>
            </article>

            <article>
                <h4>EMAIL NEWSLETTER</h4>
                <p>A periodical electronic message delivering updates, promotions, or information to subscribers' inboxes.</p>
                <input type="email" placeholder="Enter Email..." />
                <a href="./singup.html"> Subscribe</a>
            </article>

            <article>
                <h4>SITE LINKS</h4>
                <p>Help & Support</p>
                <p>Privacy Policy</p>
                <p>About Us</p>
                <p>Contact</p>
            </article>

            <article>
                <h4>JOIN OUR CLUB</h4>
                <p>
                  "Collaborate, connect, and share experiences with like-minded individuals in our exclusive community."
                </p>
                <a href="./singup.html">Join Now</a>
            </article>
        </div>

        <div class="copyright">
            <p>Copyright &copy; 2024, All Rights Reserved</p>
        </div>
    </div>
</footer>
  

  <!-- Bootsratp js -->
  <script src="../static/app.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
</body>

</html>